include common/_mixins
doctype html
html
	include common/_head
	body.table-box
		<!--[if lt IE 7]>
		<p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
		<![endif]-->

		.preloader

		include common/_parallax
		header.header.header_welcome.table-box__top
			.container.container_padded
				button.login-button Авторизоваться
		.table-box__middle
			.vertical-aligned.perspective-box
				.flip-card
					.flip-card__front-side
						.author-bio
							+avatar("iam.jpg", "Frontend. Wordpress. Разработка сайтов под ключ.", "Денис Архипенко")
							p.author-bio__name Денис Архипенко
							p.author-bio__description мое портфолио

							+social_links("welcome")

						ul.page-links
							- var pages = {"Мои работы" : "works.html", "Обо мне" : "about.html", "Блог" : "blog.html"}
							each p_url, p_name in pages
								li.page-links__item
									a(class="preload-link page-links__link" href=p_url)= p_name

					.flip-card__back-side
						form.login-form(type="POST" action="/")
							h3.sidestripes Авторизуйтесь
							+input_iconed([["user", "Логин", "text"], ["key", "Пароль", "password"]])
							+input_checkers([["checkbox", "robot_check", "not a robot", "Я человек"]])
							p.login-form__plain-text Вы точно не робот?
							+input_checkers([["radio", "robot_radio", "shure", "Да"], ["radio", "robot_radio", "who knows", "Не уверен"]])

						ul.page-links
							- var buttons = {"На главную" : "unflip-card", "Войти" : "log-me"}
							each b_action, b_name in buttons
								li.page-links__item
									button(class="page-links__link", id=b_action)= b_name

		footer.footer.footer_welcome.table-box__bottom
			.container.container_padded
				span.copyright &copy; Денис Архипенко
				span.copyright(class="copyright_slogan") все права не защищены
				span.copyright(class="copyright_year") 2016